<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mu.demo.mapper.CommentMapper">

    <resultMap id="BaseResultMap" type="com.mu.demo.domain.Comment">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="articleid" column="articleId" jdbcType="INTEGER"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="createby" column="createBy" jdbcType="INTEGER"/>
            <result property="createtime" column="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,articleId,content,
        createBy,createTime
    </sql>
</mapper>
